<div class="main">
    <h1>Create Album</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="albumName">Album Name:</label>
            <input type="text" id="albumName" name="albumName" [(ngModel)]="album.albumName" required>
        </div>
        <div class="form-group">
            <label for="albumLength">Album Length (Minutes.Seconds):</label>
            <input type="number" id="albumLength" name="albumLength" [(ngModel)]="album.albumLength" required>
        </div>
        <div class="form-group">
            <label for="numOfSongs">Number of Songs:</label>
            <input type="number" id="numOfSongs" name="numOfSongs" [(ngModel)]="album.numOfSongs" required>
        </div>
        <div class="form-group">
            <label for="streams">Streams:</label>
            <input type="number" id="streams" name="streams" [(ngModel)]="album.streams" required>
        </div>
        <div class="form-group">
            <h2>Songs</h2>
            <div class="song" *ngFor="let song of album.albumSongs; let i = index">
                <label for="songTitle{{i}}">Song Title:</label>
                <input type="text" id="songTitle{{i}}" name="songTitle" [(ngModel)]="song.songTitle" required>
                <label for="songDuration{{i}}">Song Duration (Minutes.Seconds):</label>
                <input type="number" id="songDuration{{i}}" name="songDuration" [(ngModel)]="song.songDuration"
                    required>
                <label for="songStreams{{i}}">Streams:</label>
                <input type="number" id="songStreams{{i}}" name="songStreams" [(ngModel)]="song.streams" required>
                <label for="songGenre{{i}}">Genre ID:</label>
                <input type="number" id="songGenre{{i}}" name="songGenre" [(ngModel)]="song.genreId" required>
            </div>
            <div style="display: flex; padding-bottom: 30px; gap: 10px;">
                <div>
                    <button type="button" (click)="addSong()">Add Song</button>
                </div>
                <div>
                    <button type="submit">Create Album</button>

                </div>
            </div>
        </div>
    </form>
</div>