.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-left {
    display: flex;
    gap: 10px;
}

.navbar-left button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.navbar-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login-button, .logout-button {
    background-color: #ecc5e0;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    color: #fff;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    text-decoration: underline;
}
