<!-- src/app/search-bar/search-bar.component.html -->
<form (ngSubmit)="onSubmit()">
  <input type="text" [(ngModel)]="searchTitle" name="searchTitle" placeholder="Search...">
  <select [(ngModel)]="searchBy" name="searchBy">
    <option value="Song">Song</option>
    <option value="Artist">Artist</option>
    <option value="Album">Album</option>
    <option value="Director">Director</option>
  </select>
  <button type="submit">Search</button>
</form>

<!-- Display search results here -->
<div *ngIf="searchResults">
  <ul>
    <li *ngFor="let result of searchResults">
      {{ result }} <!-- Display result data as needed -->
    </li>
  </ul>
</div>




<!-- 
<div class="search-bar">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search by song or artist">
  

  <div class="filter-buttons">
    <button (click)="selectFilter('song')" [class.active]="selectedFilter === 'song'">Song</button>
    <button (click)="selectFilter('artist')" [class.active]="selectedFilter === 'artist'">Artist</button>

  </div>
</div>

  <div class="search-results" *ngIf="isSearching">
    <h3>Search Results:</h3>
    <ul>
      <li *ngFor="let result of searchResults">{{ result }}</li>
    </ul>

<div *ngFor="let key of getFilteredResultKeys()" class="property-results">
  <h2>{{ key | titlecase }}</h2> 
  <div *ngIf="filteredResults[key].length > 0" class="search-results">
    <div *ngFor="let item of filteredResults[key]" class="result-item">
      <div class="search-results">
        <ng-container *ngFor="let music of musicData">
          <div class="music-card">
            <img [src]="music.imageUrl" alt="Album Art" />
            <h2>{{ music.title }}</h2>
            <p>{{ music.artist }}</p>
            <button (click)="addToPlaylist(music)">Add to Playlist</button>
          </div>
        </ng-container>
      </div>
      
    </div>
  </div>
  <div *ngIf="filteredResults[key].length === 0" class="no-results">
    No results found for {{ key | titlecase }}.
  </div>
</div>



 -->
