.search-bar {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-buttons button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.filter-buttons button.active {
    background-color: #177d3d;
}

.property-results {
    margin-top: 20px;
    margin-left: 20%;
}

.property-results h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.result-item {
    flex-basis: calc(33.33% - 20px);
    /* Adjust the width as needed */
}

.music-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.music-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.music-card h2 {
    font-size: 18px;
    margin-top: 10px;
}

.music-card p {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
}

.music-card button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.music-card button:hover {
    background-color: #177d3d;
}

.no-results {
    font-size: 16px;
    color: #888;
    margin-top: 10px;
}

/* Add additional styles or adjustments as needed */