<div class="mainbox">

  <div class="search-bar">


    <input type="text" [(ngModel)]="searchTitle" name="searchTitle" placeholder="Search...">

    <select [(ngModel)]="searchBy" name="searchBy">

      <option value="Song">Song</option>

      <option value="Artist">Artist</option>

      <option value="Album">Album</option>

      <option value="Director">Director</option>

    </select>

    <button type="submit" (click)="onSubmit()">Search</button>



  </div>





  <div *ngIf="searchResults && searchBy != 'Album' && searchResults.length > 0">

    <h1>Search Results:</h1>

    <app-music-card *ngFor="let searchRes of searchResults" [music]="searchRes"></app-music-card>

  </div>



  <div class="album-content" *ngIf="searchResults && searchBy == 'Album' && searchResults.length > 0">

    <h1>Search Results:</h1>

    <div *ngFor="let item of searchResults">

      <div class="album">

        <h2>Album Name: {{ item.albumName }}</h2>

        <p>Album Length: {{ item.albumLength }} minutes</p>

        <p>Number of Songs: {{ item.numOfSongs }}</p>

        <p>Streams: {{ item.streams }}</p>

        <p>Artist: {{ item.artistId.name }}</p>

        <p>Created At: {{ item.createdAt | date:'medium' }}</p>

      </div>

    </div>
  </div>
</div>