.navbar {

    background-color: #131111;

    color: #fff;

    width: 82.5%;

    margin-left: auto;

    margin-right: 0;

    padding: 20px 0;

    display: flex;

    justify-content: flex-end;
    /* Position buttons to the right */

    align-items: center;

}

/* Navbar buttons styles */

.navbar-buttons {

    display: flex;

    gap: 20px;

    align-items: center;

    margin-right: 2px;

}

/* Navbar button styles */

.navbar-button {

    padding: 15px 30px;
    /* Increased padding for larger buttons */

    background-color: #fff;

    color: #333;

    text-decoration: none;

    font-size: 18px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

/* Navbar button hover styles */

.navbar-button:hover {

    background-color: #ccc;

    color: #333;

}