
<!-- 
<app-login> Login </app-login>
<app-register> Register </app-register>
<app-add-music>Add - Music </app-add-music>
<app-user-profile></app-user-profile> 
<app-search-bar></app-search-bar> -->

<!DOCTYPE html>

<html lang="en">

 

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Your App</title>

</head>

 

<body>

    <div class="app-container">

        <app-sidebar></app-sidebar>

        <div class="main-content">

            <div class="card-container">

                <div style="display: flex; flex-direction: column;">

                    <div>

                        <h1>Popular Playlist</h1>

                    </div>

                    <div style="display: flex;">

                        <app-music-card></app-music-card>

                        <app-music-card></app-music-card>

                        <app-music-card></app-music-card>

                    </div>

                </div>

                <div style="display: flex; flex-direction: column;">

                    <div>

                        <h1>Popular Artist</h1>

                    </div>

                    <div style="display: flex;">

                        <app-popular-artist-card></app-popular-artist-card>

                        <app-popular-artist-card></app-popular-artist-card>

                        <app-popular-artist-card></app-popular-artist-card>

                    </div>

                </div>

            </div>

        </div>

        <app-musicbar></app-musicbar>

    </div>

</body>

 

</html>

 

 