<div class="main-content">
    <div class="card-container">
        <div style="display: flex; flex-direction: column;">
            <div>
                <h1>POP Songs</h1>
            </div>
            <div style="display: flex;" class="music-card-container">
                <app-music-card *ngFor="let musicItem of musicData" [music]="musicItem"></app-music-card>
            </div>

            <div>
                <h1>Electronic Songs</h1>
            </div>
            <div style="display: flex;" class="music-card-container">
                <app-music-card *ngFor="let musicItem of musicData" [music]="musicItem"></app-music-card>
            </div>

        </div>
        <div style="display: flex; flex-direction: column;">
            <div>
                <h1>Popular Artist</h1>
            </div>
            <div style="display: flex;">
                <app-popular-artist-card></app-popular-artist-card>
                <app-popular-artist-card></app-popular-artist-card>
                <app-popular-artist-card></app-popular-artist-card>
            </div>
        </div>
    </div>
</div>