<div class="main-content">
    <div class="card-container">
        <div style="display: flex; flex-direction: column;">
            <div>
                <h1>Popular Playlist</h1>
            </div>
            <div style="display: flex;">
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
                <app-music-card></app-music-card>
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div>
                <h1>Popular Artist</h1>
            </div>
            <div style="display: flex;">
                <app-popular-artist-card></app-popular-artist-card>
                <app-popular-artist-card></app-popular-artist-card>
                <app-popular-artist-card></app-popular-artist-card>
            </div>
        </div>
    </div>
</div>