<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Sidebar</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../../../assets/musicLogo.png" alt="Spotify Logo" routerLink="/">
        </div>
        <ul class="menu">
            <div class="house-icn">
                <div>
                    <i class="fa-solid fa-house"></i>
                </div>
                <div>
                    <li><a routerLink="/home">Home</a></li>
                </div>
            </div>

            <div class="house-icn">
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div>
                    <li><a routerLink="/search">Search</a></li>
                </div>
            </div>
        </ul>
        <hr>
        <div>
            <div class="house-icn library">
                <div>
                    <i class="fa-solid fa-bookmark"></i>
                </div>
                <div>
                    <li><a href="#">Your Library</a></li>
                </div>
                <div>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/5926dac9ae.js" crossorigin="anonymous"></script>
</body>

</html>