body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #1E1E1E;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.logo img {
    width: 80px;
    margin: 0 auto;
    display: block;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px 0;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
}

.menu a:hover {
    color: #1DB954;
}

.house-icn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    margin-left: 20px;
}

.house-icn i {
    font-size: 24px;
    margin-right: 10px;
}

.house-icn a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.library {
    justify-content: space-around;
    list-style-type: none;
    margin-top: 20px;
}

/* Style for the "List of Names" card */
.name-card {
    margin-top: 20px;
    background-color: #222;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name-card h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.name-card ul {
    list-style-type: none;
    padding: 0;
}

.name-card li {
    font-size: 18px;
    margin-bottom: 8px;
    color: #ccc;
}

/* Style for the links inside the "List of Names" card */
.name-card a {
    text-decoration: none;
    color: #fff;
}