<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="playlist-card">
        <div class="playlist-image">
            <img src="https://images.unsplash.com/photo-1666170378011-b82634539902?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cG90cmFpdCUyMHNjZW5lcnl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                alt="playlistPic" />
        </div>
        <div class="playlist-details">
            <div style="display: flex; align-items: center; gap: 30px;">
                <div>
                    <h2>{{ music.songTitle }}</h2>
                    <p>{{ music.albumId.artistId.name }}</p>
                </div>
                <div>
                    <p>{{music.songDuration}} Minutes</p>
                    <p>{{music.genreId.genreName}}</p>
                </div>
            </div>
            <div class="playlist-actions">
                <button (click)="onClick()">Play</button>
                <button>Add to Library</button>
            </div>
        </div>
    </div>


</body>

</html>